SERPER_API_KEY=
APOLLO_API_KEY=
HUNTER_API_KEY=
COMTRADE_API_KEY=
COMTRADE_API_KEY_SECONDARY=
LEADFINDER_CRM_URL=http://127.0.0.1:5173
LEADFINDER_DB_PATH=data/leadfinder.sqlite
LEADFINDER_MAX_PAGES=5
LEADFINDER_TIMEOUT_SECONDS=12
